table{
    border: 1px solid black !important;
    text-align: center !important;
}
th{
    border: 1px solid black !important;
    width: 120px !important;
}
td{
    border: 1px solid black !important;
}